.Nav {
    background: white;
    top: 0;
    position: fixed;
    width: 95%;
    height: 30px;
    padding: 20px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(235, 225, 225);
  
    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;

    &-footer-animation {
        transform: translateY(-100%);
    }
}

.roope{
    margin: 0 0 0 auto;
}

.Nav p{        
    margin-left: 5%;
}

.newbutton{
    background-color:rgb(81, 197, 158);
    margin-left: 5%;
    color:snow;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 12px;
    width: 78px;
    height:33px;
    text-align: center; 
}
